<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <div class="card">
          <div class="form">
            <h3>Sign Up</h3>
            
            <div class="input-field">
              <i class="fa fa-envelope"></i>
              <input type="text" name="name" placeholder="Enter your Name">
          </div>
          <div class="input-field">
              <i class="fa fa-lock"></i>
              <input type="text" name="mobile" placeholder="Enter Mobile Number ">
          </div>
          <div class="input-field">
              <i class="fa fa-envelope"></i>
              <input type="text" name="email" placeholder="Enter your email">
          </div>
          <div class="input-field">
            <i class="fa fa-envelope"></i>
            <input type="password" name="password" placeholder="Password">
        </div><br>
        
        <button>Sign up</button>
        <a href="#" target="_blank">Already Have an Account?</a> 
        </div>
      </div>
    </form>
</body>
</html>