<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="one">
        <div class="form">
            <center><h2>Contact Us</h2></center>
            <a href="#"><label>Email</label></a><br><br>
            <input type="text" name="email" placeholder="Enter E-mail address"/><br><br>
            <a href="#"><label>Mobile</label></a><br><br>
            <input type="text" name="mobile" placeholder="Enter Mobile Number"/><br><br>
            <a href="#"><label>Messsages requried</label></a><br><br>
            <button>Submit</button>
        </div>
    </div>
</body>
</html>